<!DOCTYPE html>
<html lang="en">
    

    <head>
        <link rel="stylesheet" href="/css/CheckoutSuccess.css">
    </head>


<body>
   
    @RenderBody()


   

    <!-- Your JavaScript libraries and scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/alime.bundle.js"></script>
    <script src="/js/default-assets/active.js"></script>

    <script>
        $(document).ready(function () {
            // Show the hidden element (this is optional but can be useful for debugging)
            $('.success-message').fadeIn(1000);

            // Wait for 5 seconds and then redirect to the home page
            setTimeout(function () {
                window.location.href = '/Users/Index';
            }, 5500);
        });
    </script>
</body>
</html>
