<!DOCTYPE html>
<html>
<head>
    <!-- Thêm meta tags, title, và các thẻ khác cần thiết -->
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <link rel="icon" href="/img/core-img/Logo3.jpg">
    <!-- Nhúng Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500&display=swap" rel="stylesheet" />
    <!-- Nếu bạn muốn thêm CSS từ các file khác, bạn có thể đưa vào đây -->
    <!-- Thay đổi phiên bản và đường dẫn đến tệp CSS Bootstrap tùy thuộc vào tệp bạn đã tải xuống hoặc sử dụng CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
   
</body>
</html>