@model IEnumerable<ArtGalleryOnline.Models.Category>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="alime-projects-menu">
    <div class="portfolio-menu text-center">
        <button class="btn active" data-filter="*">All</button>
        @foreach (var item in Model)
        {
            <button class="btn">@item.CategoryName</button>
        }
        
       
    </div>
</div>