@model IEnumerable<ArtGalleryOnline.Models.Category>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    /* Thêm CSS để tạo kiểu cho thanh điều hướng */
    .alime-projects-menu {
        display: flex; /* Chuyển thành thành phần thành một dòng ngang */
        justify-content: center; /* Căn giữa các thành phần trong container cha */
    }

        .alime-projects-menu ul {
            list-style: none; /* Loại bỏ dấu đầu dòng của danh sách */
            padding: 0; /* Loại bỏ padding */
            margin: 0; /* Loại bỏ margin */
            display: flex; /* Chuyển danh sách thành một dòng ngang */
        }

        .alime-projects-menu li {
            margin-right: 20px; /* Khoảng cách giữa các mục danh sách */
        }

        /* Thêm CSS để tạo kiểu cho các liên kết */
        .alime-projects-menu a {
            color: #000000; /* Đặt màu chữ là màu đen */
            font-size: 20px; /* Tăng kích thước chữ lên 25px (điều chỉnh theo ý muốn) */
            text-decoration: none; /* Loại bỏ gạch chân dưới liên kết */
            position: relative; /* Yêu cầu cho animation */
        }

            /* Thêm CSS để tạo hiệu ứng trượt */
            .alime-projects-menu a::after {
                content: ""; /* Yêu cầu cho pseudo-element */
                position: absolute;
                bottom: 0; /* Đặt pseudo-element ở dưới chữ */
                left: 0;
                width: 100%;
                height: 3px; /* Đặt chiều cao của thanh hiệu ứng */
                background-color: #FC6060; /* Màu nền cho hiệu ứng trượt */
                z-index: -1; /* Đưa pseudo-element phía sau chữ */
                transform: scaleX(0); /* Đặt chiều rộng của thanh hiệu ứng ban đầu là 0 */
                transform-origin: left; /* Đặt điểm bắt đầu trượt từ bên trái */
                transition: transform 0.3s; /* Thời gian của animation */
            }

            /* Thêm CSS để tạo kiểu cho liên kết khi hover vào */
            .alime-projects-menu a:hover::after {
                transform: scaleX(1); /* Di chuyển pseudo-element để hiệu ứng trượt từ đầu chữ */
            }


</style>
<div class="alime-projects-menu">
    <div class="portfolio-menu text-center">
        <ul>
        @foreach (var item in Model)
        {
                <li><a href="~/DetailsView/ArtWorkByCategory?CatId=@item.CategoryId" style="color:azure">@item.CategoryName</a></li>
        }
        </ul>
       
    </div>
</div>