@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ArtGalleryOnline.Models.Orders


<a href="~/Users/OrderUser?id=@Model?.OrderId">@Model?.User</a>