@model IEnumerable<ArtGalleryOnline.Models.ArtWork>
@{
    ViewData["Title"] = "ArtWorkByCategory";
    Layout = "~/Views/Shared/_ArtWorkList.cshtml";
}

<style>



    .post-content a:hover {
        text-decoration: none;
    }

    #pd_card img {
        width: 100%; /* Định rõ chiều rộng hình ảnh là 100% của card */
        height: 300px; /* Giữ tỷ lệ khung hình ban đầu */
        border-radius: 10px;
    }

    #pd_card {
        padding-bottom: 20px;
    }

    body {
        background-color: black;
        color: white;
    }
</style>
<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(/img/code-mg/hinh47.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">Latest Blog</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<div class="alime-portfolio-area section-padding-80 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Projects Menu -->
                @(await Component.InvokeAsync("Category"))
            </div>
        </div>
        <div class="container">
            <div class="row  ">
                @foreach (var item in Model)
                {
                    <div class=" col-sm-4">
                        <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms" id="pd_card">
                            <!-- Post Thumbnail -->
                            <a href="~/ArtWorks/ArtWorkDetails?id=@item.ArtId" class="post-thumbnail"><img src="~/@item.ArtImage" alt=""></a>
                            <!-- Post Catagory -->
                            <a href="~/ArtWorks/ArtWorkDetails?id=@item.ArtId" class="btn post-catagory">Add</a>
                            <!-- Post Conetent -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="~/DetailsView/ArtWorkDetails?id=@item.ArtId">@item.ArtName</a>
                                    <a href="">@item.Category.CategoryName</a>
                                    <a href="#">@item.AuthorArtWork.Artist</a>
                                </div>
                                <a href="#" class="post-title">$@item.ArtPrice</a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="700ms">
                <a href="#" class="btn alime-btn btn-2 mt-15">View More</a>
            </div>
        </div>
    </div>
</div>


