@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}
@model ArtGalleryOnline.Models.Users

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    @if (ViewBag.LoginStatus != null && ViewBag.LoginStatus == 0)
    {
        <div style="color:red">
            <p>
                Invalid Username or Password, please try again.
            </p>
        </div>
    }
    <div class="container">
        <label for="UserEmail"><b>Username</b></label>
        @Html.TextBoxFor(m => m.UserEmail, new { @placeholder = "Enter Username" })

        <label for="UserPassword"><b>Password</b></label>
        @Html.PasswordFor(m => m.UserPassword, new { @placeholder = "Enter Password" })

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
}
