@model ArtGalleryOnline.Models.Users
@{
    ViewData["Title"] = "RegisterCreate";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<style>
    body {
        background-image: url('/img/bg-img/face-art.jpg'); /* Replace 'wooden-background.jpg' with the actual path to your wooden background image */
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* Custom styles for the login form */
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-box {
        background-color: rgba(255, 255, 255, 0.13);
        padding: 50px 35px;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        max-width: 400px;
        width: 100%;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;
        background-color: rgba(255, 255, 255, 0.07);
        color: #e5e5e5;
    }

    ::placeholder {
        color: #e5e5e5;
    }

    .login-button {
        width: 100%;
        padding: 15px 0;
        background-color:black;
        color: #e5e5e5;
        font-size: 18px;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .login-button:hover {
            background-color: #080710;
            color: #ff8554;
        }

    .remember-me {
        font-size: 14px;
        display: block;
        margin-top: 10px;
        color: #555;
    }

    .error-message {
        color: #f44336;
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
    }

    .background {
        width: 430px;
        height: 520px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }

        .background .shape {
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        }

    .shape:first-child {
        background: linear-gradient(#1845ad, #23a2f6);
        left: -80px;
        top: -80px;
    }

    .shape:last-child {
        background: linear-gradient(to right, #ff512f, #f09819);
        right: -50px;
        bottom: -120px;
    }

    .Title {
        text-align: center;
        background: linear-gradient(45deg, #ff5454, #ff8554);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
        font-weight: bold;
    }

    .labelinp {
        background: linear-gradient(45deg, #ff5454, #ff8554);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 15px;
        font-weight: bold;
    }

    label a {
        background: linear-gradient(45deg, #ff5454, #ff8554);
        transition: background 1s ease;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 15px;
    }

        label a:hover {
            background: linear-gradient(45deg, #ff2f2f, #ff3811);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    .form-control {
        color: black;
        font-weight: bold;
    }
    .right {
        position: absolute;
        top: 0;
        right: 0;
        box-sizing: border-box;
        padding: 40px;
        width: 300px;
        height: 400px;
        background: url("https://goo.gl/YbktSj");
        background-size: cover;
        background-position: center;
        border-radius: 0 2px 2px 0;
    }

        .right .loginwith {
            display: block;
            margin-bottom: 40px;
            font-size: 28px;
            color: #fff;
            text-align: center;
        }

    button.social-signin {
        margin-bottom: 20px;
        width: 220px;
        height: 36px;
        border: none;
        border-radius: 2px;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        transition: 0.2s ease;
        cursor: pointer;
    }

        button.social-signin:hover,
        button.social-signin:focus {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
            transition: 0.2s ease;
        }

        button.social-signin:active {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
            transition: 0.2s ease;
        }

        button.social-signin.facebook {
            background: #32508e;
        }

        button.social-signin.twitter {
            background: #55acee;
        }

        button.social-signin.google {
            background: #dd4b39;
        }

    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
       
    }

    .select-gender {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: rgba(255, 255, 255, 0.07);
        color: #e5e5e5;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        outline: none;
        cursor: pointer;
    }

        .select-gender option {
            color: black;
        }
</style>


    <!-- Sử dụng lớp CSS của Bootstrap để căn giữa nội dung -->
<h4 class="container d-flex justify-content-center align-items-center" style="height: 10vh;color:azure; font-size: 36px; text-shadow: 15px 15px 15px rgba(0, 0, 0, 0.7); transform: scale(1.2); ">Register</h4>

<hr style="color:azure" />

    <div class="row">
       
            <div class="col-sm">
                
                    
                        <form asp-controller="Login" asp-action="RegisterCreate">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="UserName" class="control-label"  style="color:azure"></label>
                                <input asp-for="UserName" class="form-control" required/>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserFullName" class="control-label"  style="color:azure"></label>
                                <input asp-for="UserFullName" class="form-control" required />
                                <span asp-validation-for="UserFullName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserEmail" class="control-label"  style="color:azure"></label>
                                <input asp-for="UserEmail" class="form-control" required/>
                                <span asp-validation-for="UserEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserGender" class="control-label" style="color:azure"></label>
                                <select asp-for="UserGender" class="form-control select-gender">
                                    <option value="1">Female</option>
                                    <option value="0">Male</option>
                                </select>
                                <span asp-validation-for="UserGender" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserAge" class="control-label"  style="color:azure"></label>
                                <input asp-for="UserAge" class="form-control" required />
                                <span asp-validation-for="UserAge" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserPhoneNum" class="control-label"  style="color:azure"></label>
                                <input asp-for="UserPhoneNum" class="form-control" required />
                                <span asp-validation-for="UserPhoneNum" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserAddress" class="control-label"  style="color:azure"></label>
                                <input asp-for="UserAddress" class="form-control" required/>
                                <span asp-validation-for="UserAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserPassword" class="control-label"  style="color:azure"></label>
                                <input asp-for="UserPassword" class="form-control"required />
                                <span asp-validation-for="UserPassword" class="text-danger"></span>
                            </div>
                            
                            <button type="submit" class="login-button">Register</button>
                        </form>
                    
                
            </div>
    
            <div class="col-sm">


                    <div class="right">
                        <span class="loginwith">Sign in with<br />social network</span>

                        <button class="social-signin facebook">Log in with facebook</button>
                        <button class="social-signin twitter">Log in with Twitter</button>
                        <button class="social-signin google">Log in with Google+</button>
                    </div>
                            
                 
                  
              
            </div>
            
    </div>


