
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('/img/code-mg/hinh11.webp'); /* Replace 'wooden-background.jpg' with the actual path to your wooden background image */
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(/img/bg-img/38.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">About Us</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- About Us Area Start -->
<div class="about-us-area section-padding-80-0 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="about-us-content mb-80">
                    <h3 class="wow fadeInUp" data-wow-delay="100ms">Details About Us</h3>
                    <div class="line wow fadeInUp" data-wow-delay="200ms"></div>
                    <p class="wow fadeInUp" data-wow-delay="300ms">our online art gallery thanks to our accurate and timely knowledge of the national and international art scene. Ensure the quality and provenance of the artworks on display.</p>
                    <p class="wow fadeInUp" data-wow-delay="400ms">
                        We will display paintings, scriptures and models. promises to bring collectors the best, unique and quality works. while supporting contemporary authors, exhibiting works of art. please contact us via button
                        ''Contact us'' below.
                    </p>
                    <a class="btn alime-btn btn-2 mt-30 wow fadeInUp" data-wow-delay="500ms" href="/Home/Contact">Contact Us</a>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="about-video-area mb-80 wow fadeInUp" data-wow-delay="100ms">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CvdgGhFsuBU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us Area End -->
<!-- Why Choose Us Area Start -->
<section class="why-choose-us-area bg-gray section-padding-80-0 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h2>Why Choose Us</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Why Choose Area -->
            <div class="col-md-6 col-lg-4">
                <div class="why-choose-us-content text-center mb-80 wow fadeInUp" data-wow-delay="100ms">
                    <div class="chosse-us-icon">
                        <i class="fa fa-film" aria-hidden="true"></i>
                    </div>
                    <h4>bring good quality products</h4>
                    <p>offers collectors one-of-a-kind pieces. Ensure the quality and origin of works such as paintings, scriptures, models. sed do eiusmod tempor </p>
                </div>
            </div>

            <!-- Single Why Choose Area -->
            <div class="col-md-6 col-lg-4">
                <div class="why-choose-us-content text-center mb-80 wow fadeInUp" data-wow-delay="300ms">
                    <div class="chosse-us-icon">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                    <h4>Abundant Experience</h4>
                    <p>Rich, long-term experience. Working according to the criteria with the mind will have a vision. ensure requirements will be met</p>
                </div>
            </div>

            <!-- Single Why Choose Area -->
            <div class="col-md-6 col-lg-4">
                <div class="why-choose-us-content text-center mb-80 wow fadeInUp" data-wow-delay="500ms">
                    <div class="chosse-us-icon">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </div>
                    <h4>Modern Equipments</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut elit, sed do eiusmod te</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose  us Area End -->
<!-- Our Team Area Start -->
<section class="our-team-area section-padding-80-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h2>Our Team</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Team Member Area -->
            <div class="col-md-6 col-xl-3">
                <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="100ms">
                    <div class="member-thumb">
                        <img src="~/images/qui.jpg" />
                    </div>
                    <h5>Nguyen Qui</h5>
                    <span>manage</span>
                    <div class="member-social-info">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <!-- Team Member Area -->
            <div class="col-md-6 col-xl-3">
                <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="300ms">
                    <div class="member-thumb">
                        <img src="~/images/kim4.jpg" />
                    </div>
                    <h5>Duc Khiem</h5>
                    <span>manage</span>
                    <div class="member-social-info">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <!-- Team Member Area -->
            <div class="col-md-6 col-xl-3">
                <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="member-thumb">
                        <img src="~/images/linh2.jpg" />
                    </div>
                    <h5>Anh Linh</h5>
                    <span>manage</span>
                    <div class="member-social-info">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <!-- Team Member Area -->
            <div class="col-md-6 col-xl-3">
                <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="700ms">
                    <div class="member-thumb">
                        <img src="~/images/dương3.jpg" />
                    </div>
                    <h5>Anh Duong</h5>
                    <span>manage</span>
                    <div class="member-social-info">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Team Area End -->

