@model IEnumerable<ArtGalleryOnline.Models.ArtWork>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    body {
        background-color:black; /* Replace 'wooden-background.jpg' with the actual path to your wooden background image */
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* Thêm góc nhìn để tạo không gian 3D cho khung hình */
    .alime-portfolio-area {
        perspective: 1000px; /* Điều chỉnh giá trị cho hiệu ứng 3D mong muốn */
    }

        /* Áp dụng biến đổi 3D cho từng mục trong bộ sưu tập */
        .alime-portfolio-area .single_gallery_item {
            transform-style: preserve-3d;
            transition: transform 0.5s ease;
            position: relative; /* Đặt vị trí là tương đối để cho phép z-index và box-shadow */
            border: 1px solid transparent; /* Thêm viền trong suốt ban đầu */
        }

            /* Xoay và co dãn hình ảnh khi di chuột qua */
            .alime-portfolio-area .single_gallery_item:hover {
                transform: translateY(-10px) rotateX(5deg); /* Điều chỉnh giá trị translateY và rotateX cho hiệu ứng mong muốn */
                box-shadow: 0 20px 30px #060607; /* Thêm bóng đậm để tạo hiệu ứng độ sâu */
                z-index: 1; /* Đặt z-index để đưa mục đang di chuột qua lên phía trên các mục khác */
               
            }

        /* Tùy chọn: Thêm bóng để tạo hiệu ứng độ sâu cho 3D */
        .alime-portfolio-area .single_gallery_item {
            box-shadow: 0 10px 15px black; /* Điều chỉnh thuộc tính của bóng theo ý muốn */
        }


    
    .blog-section {
        display: flex;
        justify-content: flex-end;
    }

    .blog-entry {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 30px;
    }

    .entry-thumb {
        flex: 1;
        margin-left: 20px;
    }

    .entry-details {
        flex: 1;
        margin-right: 20px;
    }

    .entry-title {
        margin-bottom: 10px;
    }

    .entry-body {
        margin-bottom: 15px;
    }

    .type1.dt-sc-button.small {
        display: inline-block;
    }
    
    .entry-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-left: 37px;
    }

    .entry-title {
        margin-bottom: 10px;

    }

    .entry-title h3 {
        font-size: 50px; /* Chỉnh kích thước phù hợp */
            color: #dcd7cf;
             text-decoration: none;
            font-family: Arial, sans-serif;
    }
    .entry-body {
        margin-bottom: 20px;
    }

    .type1.dt-sc-button.small {
        align-self: center;
    }

    .type1.dt-sc-button.small {
        display: inline-block;
        padding: 10px 20px;
        background-color: #e74c3c ;
        color: #d7cece;
        text-decoration: none;
        transition: background-color 0.3s, transform 0.3s;
        border-radius: 10px;
    }

    .type1.dt-sc-button.small:hover {
        background-color: #8d6666;
        transform: scale(1.1);
    }

    .entry-thumb img {
        transition: transform 0.3s ease;
    }

        .entry-thumb img:hover {
            transform: scale(1.1);
        }

    /*About me*/
    .about-section {
        display: flex;
        justify-content: center; /* Căn giữa div theo chiều ngang */
        align-items: center; /* Căn giữa div theo chiều dọc */
        padding: 40px;
    }

        .about-section .dt-sc-one-half.column {
            flex: 1;
            padding: 20px;
            box-sizing: border-box;
        }

    .giua {
        text-align: center; /* Căn giữa nội dung theo chiều ngang */
        padding-bottom:25px;
    }

    .alititle {
        border-bottom: 2px solid #333;
        padding-bottom: 10px;
        font-size: 70px;
        color: white;
    }

    .botitle{
        color: #dcd7cf;
        text-decoration: none;
    }
</style>
<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/slider.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInDown" data-delay="900ms">Hello <br>I'm Jackson</h2>
                            <p data-animation="bounceInDown" data-delay="500ms">I photograph very instinctively. I see how it is taken like that. I do not follow certain styles, philosophies or teachers.</p>
                            <div class="hero-btn-group" data-animation="bounceInDown" data-delay="100ms">
                                <a href="#" class="btn alime-btn mb-3 mb-sm-0 mr-4">Get a Quote</a>
                                <a class="hero-mail-contact" href="mailto:hello.alime@gmail.com">hello.alime@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/face-art.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="100ms">Hello <br>I'm Alime</h2>
                            <p data-animation="bounceInUp" data-delay="500ms">I photograph very instinctively. I see how it is taken like that. I do not follow certain styles, philosophies or teachers.</p>
                            <div class="hero-btn-group" data-animation="bounceInUp" data-delay="900ms">
                                <a href="#" class="btn alime-btn mb-3 mb-sm-0 mr-4">Get a Quote</a>
                                <a class="hero-mail-contact" href="mailto:hello.alime@gmail.com">hello.alime@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->
<!-- Gallery Area Start -->
<div class="alime-portfolio-area section-padding-80 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Projects Menu -->
                <div class="alime-projects-menu">
                    <div class="portfolio-menu text-center">
                        <button class="btn active" data-filter="*">All</button>
                        <button class="btn" data-filter=".human">Human</button>
                        <button class="btn" data-filter=".nature">Nature</button>
                        <button class="btn" data-filter=".country">Country</button>
                        <button class="btn" data-filter=".video">Video</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row alime-portfolio">
            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-1.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-1.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>


            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item video human mb-30 wow fadeInUp" data-wow-delay="300ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-2.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-2.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item country mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-3.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-3.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="700ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-4.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-4.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-5.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-5.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item video country mb-30 wow fadeInUp" data-wow-delay="300ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-6.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-6.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-7.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-7.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="700ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-8.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-8.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-6 single_gallery_item video country mb-30 wow fadeInUp" data-wow-delay="100ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-9.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-9.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="300ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/hinh31.jpeg" />
                    <div class="hover-content">
                        <a href="/img/code-mg/hinh31.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item country mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/hinh30.jpg" />
                    <div class="hover-content">
                        <a href="/img/code-mg/hinh30.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="alime-portfolio-area section-padding-80 clearfix">
    <div class="container-fluid">
        <section id="primary" class="content-full-width">
            <div class="giua">
                <h2 class="alititle"> Blog </h2>
                    
            </div>
            <div class="fullwidth-section">
                <div class="blog-section">
                    <article class="blog-entry">
                        <div class="entry-thumb">
                            <div style="max-width: 100%;">
                                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 388px;">
                                    <div  style="max-width: 100%;">
                                        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 388px;">
                                            <ul class="blog-slider" style="width: auto; position: relative;">
                                                <li style="float: none; list-style: none; position: absolute; width: 788px; z-index: 50; display: block;"><img src="~/img/code-mg/img-5.jpg" />  </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="entry-details">
                            <div class="entry-title">
                                <h3>Acrylic</h3>
                            </div>
                            <div class="entry-body">
                                <p><b>Acrylic painting</b>, technique in which pigments are mixed with hot, liquid wax. After all of the colours have been applied to the painting surface, a heating element is passed over them until the individual brush or spatula marks fuse into a uniform film. </p>
                            </div>
                            <a class="type1 dt-sc-button small" href="/Home/Blog">View More<i class="fa fa-angle-right"></i></a>
                        </div>
                    </article>
                </div>
                <div class="blog-section">
                    <article class="blog-entry type2">
                        <div class="entry-details">
                            <div class="entry-title">
                                <h3>Encaustic</h3>
                            </div>
                            <div class="entry-body">
                                <p><b>Encaustic painting</b>, technique in which pigments are mixed with hot, liquid wax. After all of the colours have been applied to the painting surface, a heating element is passed over them until the individual brush or spatula marks fuse into a uniform film. </p>
                            </div>
                            <a class="type1 dt-sc-button small" href="/Home/Blog">View More<i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="entry-thumb">
                            <div  style="max-width: 100%;">
                                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 388px;">
                                    <div  style="max-width: 100%;">
                                        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 388px;">
                                            <ul class="blog-slider" style="width: auto; position: relative;">
                                                <li style="float: none; list-style: none; position: absolute; width: 788px; z-index: 50; display: block;"> <img src="~/img/code-mg/img-8.jpg" /> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>

    </div>

</div>
<div class="alime-portfolio-area section-padding-80 clearfix">
    <div class="fullwidth-sections">
        <div class="containe">
            <div class="giua">
                <h2 class="alititle"> About Us</h2>
            </div>
            <div class="about-section">
                <div class="dt-sc-one-half column first">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/OVDM4S1O_5E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="dt-sc-one-half column">
                    <h3 class="botitle"> A Little Intro</h3>
                    <p>At A-R-T Gallery, we believe that art has the extraordinary ability to ignite emotions, provoke thoughts, and inspire change. With a diverse collection spanning across mediums, genres, and cultures, we curate an ever-evolving showcase that mirrors the kaleidoscope of human creativity. Our passion for art extends beyond the confines of a physical gallery, allowing us to reach global audiences and foster a deeper appreciation for artistic brilliance.</p>
                    <h3 class="botitle" >My Exhibitions</h3>
                    <p>Step into a realm of endless inspiration as you navigate through our carefully curated exhibitions. From contemporary masterpieces to timeless classics, each exhibition tells a unique story and invites you to immerse yourself in the artist's vision. Whether you're an established connoisseur or a curious novice, our exhibitions promise to spark curiosity, spark conversations, and offer a window into the soul of the creators.</p>
                    <h3 class="botitle">Newsletter</h3>
                    <p>
                        Stay connected with the pulse of the art world by subscribing to our newsletter. Be the first to know about upcoming exhibitions, featured artists, exclusive interviews, and special events. Our newsletter is your passport to a world of artistic wonders, delivered right to your inbox. Join our community of art enthusiasts, collectors, and dreamers who share a common love for creativity in all its forms.

                        We invite you to explore, discover, and become a part of the A-R-T Gallery Online experience. Uncover the stories behind the strokes, the emotions behind the colors, and the magic that happens when imagination meets expression. Thank you for embarking on this artistic journey with us.

                        Welcome to A-R-T Gallery Online.
                    </p>
                    <a class="type1 dt-sc-button small" href="/Home/About">About<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>



</div>

