@model IEnumerable<ArtGalleryOnline.Models.ArtWork>
@{
    ViewData["Title"] = "Home Page";
}


<style>
    body {
        background-color:black; /* Replace 'wooden-background.jpg' with the actual path to your wooden background image */
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* Thêm góc nhìn để tạo không gian 3D cho khung hình */
    .alime-portfolio-area {
        perspective: 1000px; /* Điều chỉnh giá trị cho hiệu ứng 3D mong muốn */
    }

        /* Áp dụng biến đổi 3D cho từng mục trong bộ sưu tập */
        .alime-portfolio-area .single_gallery_item {
            transform-style: preserve-3d;
            transition: transform 0.5s ease;
            position: relative; /* Đặt vị trí là tương đối để cho phép z-index và box-shadow */
            border: 1px solid transparent; /* Thêm viền trong suốt ban đầu */
        }

            /* Xoay và co dãn hình ảnh khi di chuột qua */
            .alime-portfolio-area .single_gallery_item:hover {
                transform: translateY(-10px) rotateX(5deg); /* Điều chỉnh giá trị translateY và rotateX cho hiệu ứng mong muốn */
                box-shadow: 0 20px 30px #060607; /* Thêm bóng đậm để tạo hiệu ứng độ sâu */
                z-index: 1; /* Đặt z-index để đưa mục đang di chuột qua lên phía trên các mục khác */
               
            }

        /* Tùy chọn: Thêm bóng để tạo hiệu ứng độ sâu cho 3D */
        .alime-portfolio-area .single_gallery_item {
            box-shadow: 0 10px 15px black; /* Điều chỉnh thuộc tính của bóng theo ý muốn */
        }

    .underline {
        width: 200px; /* Điều chỉnh chiều rộng của đường dưới */
        height: 2px; /* Điều chỉnh chiều cao của đường dưới */
        background-color: white; /* Màu sắc của đường dưới */
        margin-top: 10px; /* Khoảng cách từ chữ "Blog" đến đường dưới */
        margin-bottom: 100px; /* Khoảng cách từ đường dưới đến phần kế tiếp */
        margin-left: auto; /* Căn chỉnh sang trái */
        margin-right: auto; /* Căn chỉnh sang phải */
    }

    .text-center {
        
        position: relative; /* Cho phép căn chỉnh tương đối cho đường dưới */
    }

    .aligncenter{
        font-size:60px;
        color: white;
        margin-top: 20px
    }

    .blog-section {
        display: flex;
        justify-content: flex-end;
    }

    .blog-entry {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 30px;
    }

    .entry-thumb {
        flex: 1;
        margin-left: 20px;
    }

    .entry-details {
        flex: 1;
        margin-right: 20px;
    }

    .entry-title {
        margin-bottom: 10px;
    }

    .entry-body {
        margin-bottom: 15px;
    }

    .type1.dt-sc-button.small {
        display: inline-block;
    }
    

    .bx-controls-direction a:hover {
        background-color: #555;
    }

    .image-slider {
        max-width: 800px;
        margin: 0 auto;
    }

    .bxslider {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .bxslider li {
            display: none;
        }

        .bxslider img {
            width: 100%;
            height: auto;
        }
    /* Các nút điều hướng */
    .slider-controls {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .slider-prev,
    .slider-next {
        padding: 5px 10px;
        background-color: #333;
        color: #fff;
        cursor: pointer;
    }

        .slider-prev:hover,
        .slider-next:hover {
            background-color: #555;
        }


</style>
<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/slider.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInDown" data-delay="900ms">Hello <br>I'm Jackson</h2>
                            <p data-animation="bounceInDown" data-delay="500ms">I photograph very instinctively. I see how it is taken like that. I do not follow certain styles, philosophies or teachers.</p>
                            <div class="hero-btn-group" data-animation="bounceInDown" data-delay="100ms">
                                <a href="#" class="btn alime-btn mb-3 mb-sm-0 mr-4">Get a Quote</a>
                                <a class="hero-mail-contact" href="mailto:hello.alime@gmail.com">hello.alime@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/face-art.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="100ms">Hello <br>I'm Alime</h2>
                            <p data-animation="bounceInUp" data-delay="500ms">I photograph very instinctively. I see how it is taken like that. I do not follow certain styles, philosophies or teachers.</p>
                            <div class="hero-btn-group" data-animation="bounceInUp" data-delay="900ms">
                                <a href="#" class="btn alime-btn mb-3 mb-sm-0 mr-4">Get a Quote</a>
                                <a class="hero-mail-contact" href="mailto:hello.alime@gmail.com">hello.alime@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->
<!-- Gallery Area Start -->
<div class="alime-portfolio-area section-padding-80 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Projects Menu -->
                <div class="alime-projects-menu">
                    <div class="portfolio-menu text-center">
                        <button class="btn active" data-filter="*">All</button>
                        <button class="btn" data-filter=".human">Human</button>
                        <button class="btn" data-filter=".nature">Nature</button>
                        <button class="btn" data-filter=".country">Country</button>
                        <button class="btn" data-filter=".video">Video</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row alime-portfolio">
            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-1.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-1.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>


            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item video human mb-30 wow fadeInUp" data-wow-delay="300ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-2.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-2.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item country mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-3.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-3.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="700ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-4.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-4.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-5.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-5.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item video country mb-30 wow fadeInUp" data-wow-delay="300ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-6.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-6.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-7.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-7.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="700ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-8.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-8.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-6 single_gallery_item video country mb-30 wow fadeInUp" data-wow-delay="100ms">
                <div class="single-portfolio-content">
                    <img src="/img/code-mg/img-9.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/code-mg/img-9.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="300ms">
                <div class="single-portfolio-content">
                    <img src="/img/bg-img/37.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/bg-img/37.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item country mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="/img/bg-img/5.jpg" alt="">
                    <div class="hover-content">
                        <a href="/img/bg-img/5.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="700ms">
                <a href="#" class="btn alime-btn btn-2 mt-15">View More</a>
            </div>
        </div>
    </div>
</div>
<div class="alime-portfolio-area section-padding-80 clearfix">
    <div class="container-fluid">
        <section id="primary" class="content-full-width">
            <div class="container">
                <div class="text-center">
                    <h2 class="aligncenter"> Blog </h2>
                    <div class="underline"></div>
                </div>
            </div>
            <div class="fullwidth-section">
                <div class="blog-section">
                    <article class="blog-entry">
                        <div class="entry-thumb">
                            <div class="bx-wrapper" style="max-width: 100%;">
                                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 387px;">
                                    <div class="bx-wrapper" style="max-width: 100%;">
                                        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 387px;">
                                            <div class="image-slider">
                                                <ul class="bxslider" style="width: auto; position: relative;">
                                                    <li style="float: none; list-style: none; position: absolute; width: 787px; z-index: 0; display: none;"> <img src="~/img/code-mg/hinh13.jpg" /> </li>
                                                    <li style="float: none; list-style: none; position: absolute; width: 787px; z-index: 0; display: none;"> <img src="~/img/code-mg/hinh18.jpg" /> </li>
                                                    <li style="float: none; list-style: none; position: absolute; width: 787px; z-index: 50; display: block;"> <img src="~/img/code-mg/img-5.jpg" /> </li>
                                                    <li style="float: none; list-style: none; position: absolute; width: 787px; z-index: 0; display: none;"> <img src="~/img/code-mg/img-8.jpg" /> </li>
                                                    <!-- Thêm các li khác tương tự -->
                                                </ul>
                                                
                                            </div>

                                           
                                        </div>
                                    </div>
                                </div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div></div>
                            </div>
                        </div>
                        <div class="entry-details">
                            <div class="entry-title">
                                <h3><a href="/Home/Blog">Acrylic</a></h3>
                            </div>
                            <div class="entry-body">
                                <p><b>Acrylic painting</b>, technique in which pigments are mixed with hot, liquid wax. After all of the colours have been applied to the painting surface, a heating element is passed over them until the individual brush or spatula marks fuse into a uniform film. </p>
                            </div>
                            <a class="type1 dt-sc-button small" href="/Home/Blog">View more<i class="fa fa-angle-right"></i></a>
                        </div>
                    </article>
                </div>
                <div class="blog-section">
                    <article class="blog-entry type2">
                        <div class="entry-details">
                            <div class="entry-title">
                                <h3><a href="blog-detail.html">Encaustic</a></h3>
                            </div>
                            <div class="entry-body">
                                <p><b>Encaustic painting</b>, technique in which pigments are mixed with hot, liquid wax. After all of the colours have been applied to the painting surface, a heating element is passed over them until the individual brush or spatula marks fuse into a uniform film. </p>
                            </div>
                            <a class="type1 dt-sc-button small" href="gallery-detail-with-lhs.html">View Gallery<i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="entry-thumb">
                            <div class="bx-wrapper" style="max-width: 100%;">
                                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 387px;">
                                    <div class="bx-wrapper" style="max-width: 100%;">
                                        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 387px;">
                                            <ul class="blog-slider" style="width: auto; position: relative;">
                                                <li style="float: none; list-style: none; position: absolute; width: 787px; z-index: 0; display: none;"> <img src="images/blog-images/blog-img5.jpg" alt="" title=""> </li>
                                                <li style="float: none; list-style: none; position: absolute; width: 787px; z-index: 0; display: none;"> <img src="images/blog-images/blog-img6.jpg" alt="" title=""> </li>
                                                <li style="float: none; list-style: none; position: absolute; width: 787px; z-index: 0; display: none;"> <img src="images/blog-images/blog-img7.jpg" alt="" title=""> </li>
                                                <li style="float: none; list-style: none; position: absolute; width: 787px; z-index: 50; display: block;"> <img src="images/blog-images/blog-img8.jpg" alt="" title=""> </li>
                                            </ul>
                                        </div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div></div>
                                    </div>
                                </div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div></div>
                            </div>
                        </div>
                    </article>
                </div>
               
               
            </div>
        </section>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            auto: true, // Chạy tự động
            speed: 1000, // Tốc độ chuyển đổi (ms)
            pause: 5000, // Thời gian tạm dừng giữa các hình (ms)
            mode: 'fade', // Hiệu ứng chuyển đổi ('horizontal', 'vertical', 'fade')
            controls: true, // Hiển thị nút prev và next
            pager: true, // Hiển thị thanh điều hướng
        });
        $('.slider-prev').click(function () {
            slider.goToPrevSlide();
            return false;
        });

        $('.slider-next').click(function () {
            slider.goToNextSlide();
            return false;
        });
    });
</script>


