@model IEnumerable<ArtGalleryOnline.Models.ArtWork>
@{
    ViewData["Title"] = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        background-image: url('/img/code-mg/hinh11.webp'); /* Replace 'wooden-background.jpg' with the actual path to your wooden background image */
        background-size: cover;
        background-repeat: no-repeat;
    }


    .post-content a:hover {
        text-decoration: none;
    }

    /* Đóng khung ảnh hình bình hành */
    #pd_card {
        position: relative;
        overflow: hidden;
    }

        /* Viền ngoài màu đen */
        #pd_card::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid #000;
            z-index: 1;
        }

        /* Viền trong màu trắng */
        #pd_card img {
            border: 2px solid #fff;
        }

        /* Hiệu ứng hover */
        #pd_card:hover::before {
            border-color: #fff; /* Thay đổi màu viền ngoài khi hover */
        }

</style>
<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(/img/bg-img/1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInDown" data-delay="900ms">Hello <br>I'm Jackson</h2>
                            <p data-animation="bounceInDown" data-delay="500ms">I photograph very instinctively. I see how it is taken like that. I do not follow certain styles, philosophies or teachers.</p>
                            <div class="hero-btn-group" data-animation="bounceInDown" data-delay="100ms">
                                <a asp-area="" asp-controller="Home" asp-action="About" class="btn alime-btn mb-3 mb-sm-0 mr-4">Get a Quote</a>
                                <a class="hero-mail-contact" href="mailto:hello.alime@gmail.com">hello.alime@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(/img/bg-img/2.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="100ms">Hello <br>I'm Alime</h2>
                            <p data-animation="bounceInUp" data-delay="500ms">I photograph very instinctively. I see how it is taken like that. I do not follow certain styles, philosophies or teachers.</p>
                            <div class="hero-btn-group" data-animation="bounceInUp" data-delay="900ms">
                                <a asp-area="" asp-controller="Home" asp-action="About" class="btn alime-btn mb-3 mb-sm-0 mr-4">Get a Quote</a>
                                <a class="hero-mail-contact" href="mailto:hello.alime@gmail.com">hello.alime@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->
<!-- Gallery Area Start -->



<div class="alime-portfolio-area section-padding-80 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Projects Menu -->
                @(await Component.InvokeAsync("Category"))
            </div>
        </div>
        <div class="container">
            <div class="row  ">
                @foreach (var item in Model)
                {
                    <div class=" col-sm-4">
                        <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms" id="pd_card">
                            <!-- Post Thumbnail -->
                            <a href="~/DetailsView/ArtWorkDetails?id=@item.ArtId" class="post-thumbnail"><img src="~/@item.ArtImage" alt=""></a>
                            <!-- Post Catagory -->
                            <a href="~/DetailsView/ArtWorkDetails?id=@item.ArtId " class="btn post-catagory">Add</a>
                            <!-- Post Conetent -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="~/DetailsView/ArtWorkDetails?id=@item.ArtId">@item.ArtName</a>
                                </div>
                                <a href="#" class="post-title">$@item.ArtPrice</a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="700ms">
                <a href="#" class="btn alime-btn btn-2 mt-15">View More</a>
            </div>
        </div>
    </div>
</div>
