@model IEnumerable<ArtGalleryOnline.Models.ArtWork>
@{
    ViewData["Title"] = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        background-color: black;
        color: white;
    }


    .post-content a:hover {
        text-decoration: none;
    }

    /* Đóng khung ảnh hình bình hành */
    #pd_card {
        position: relative;
        overflow: hidden;
    }

    .alime-portfolio-area {
        border: 0px solid white; /* Add a black border around the outer container */
        padding: 20px; /* Optional: Add some padding inside the outer container */
    }

    .single-post-area {
        border: 20px solid white; /* Add a white border around each item */
        padding: 10px; /* Optional: Add some padding inside each item */
    }

</style>
<!-- Welcome Area Start -->
<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(/img/code-mg/hinh47.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">Shop</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="~/Home"><i class="icon_house_alt"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->
<!-- Gallery Area Start -->



<div class="alime-portfolio-area section-padding-80 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Projects Menu -->
                @(await Component.InvokeAsync("Category"))
            </div>
        </div>
        <div class="container">
            <div class="row  ">
                @foreach (var item in Model)
                {
                    <div class=" col-sm-4">
                        <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms" id="pd_card">
                            <!-- Post Thumbnail -->
                            <a href="~/DetailsView/ArtWorkDetails?id=@item.ArtId" class="post-thumbnail"><img src="~/@item.ArtImage" alt=""></a>
                            <!-- Post Catagory -->
                            <a href="~/DetailsView/ArtWorkDetails?id=@item.ArtId " class="btn post-catagory">Add</a>
                            <!-- Post Conetent -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="~/DetailsView/ArtWorkDetails?id=@item.ArtId" >@item.ArtName</a>
                                </div>
                                <a href="#" class="post-title">$@item.ArtPrice</a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="700ms">
                <a href="#" class="btn alime-btn btn-2 mt-15">View More</a>
            </div>
        </div>
    </div>
</div>
