@model ArtGalleryOnline.Models.Orders

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestStatus" class="control-label"></label>
                <select asp-for="RequestStatus" class="form-control"></select>
                <span asp-validation-for="RequestStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientName" class="control-label"></label>
                <input asp-for="RecipientName" class="form-control" />
                <span asp-validation-for="RecipientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAddress" class="control-label"></label>
                <input asp-for="ShippingAddress" class="form-control" />
                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientPhone" class="control-label"></label>
                <input asp-for="RecipientPhone" class="form-control" />
                <span asp-validation-for="RecipientPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientEmail" class="control-label"></label>
                <input asp-for="RecipientEmail" class="form-control" />
                <span asp-validation-for="RecipientEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypePayment" class="control-label"></label>
                <input asp-for="TypePayment" class="form-control" />
                <span asp-validation-for="TypePayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

