@{
    Layout = "~/Views/Shared/_LayoutPayment.cshtml";
    ViewData["Title"] = "Home Page";
}

<ul>
    <li>T</li>
    <li>H</li>
    <li>A</li>
    <li>N</li>
    <li>K</li>
    <li>Y</li>
    <li>O</li>
    <li>U</li>
    <br />
    <li>F</li>
    <li>O</li>
    <li>R</li>
    <br />
    <li>B</li>
    <li>U</li>
    <li>Y</li>
    <li>O</li>
    <li>U</li>
    <li>R</li>
    <li>P</li>
    <li>R</li>
    <li>O</li>
    <li>D</li>
    <li>U</li>
    <li>C</li>
    <li>T</li>
</ul>
<div class="success-message" style="display: none;"></div>